#header{
    text-align:center;
    border:3px solid black;
    font-size: xx-large;
    color:orange;
}

body{
background-color:#cc000a;
}
.main1{
    position:relative;
    left:190px;
    font-size: 25px;
}

p{
    width:450px;
    border:2px solid black;
}
.main2{
    position:relative;
    bottom:490px;
    left:650px;
    font-size:25px;
}
  ul{
width:150px;
 position:relative;
left:620px;
bottom:470px;
border:3px solid black;
}
.main3{
    position:relative;
    left:1100px;
    bottom:870px;
    font-size:25px;
}
ol{
    width:300px;
    position:relative;
    left:1000px;
    bottom:850px;
    border:3px solid black;
}
